*  {
    margin:  0;
    padding:  0;
}
ul{list-style: none;
    float: right;
}
li a{display: inline-block;
}
li {display: inline-block;
    margin-right: 20px;
}
.clear{clear: both;}
nav {padding: 20px;
box-sizing: border-box;}
